<header>
    <nav class="navbar navbar__about border-bottom">
        <a href="#scholarship" class="nav__link">Ma Formation</a>
        <a href="#work" class="nav__link">Mes Expériences Professionnelles</a>
        <a href="#projects" class="nav__link">Mes Projets</a>
    </nav>
</header>

@* My Scholarship *@
<section class="scholarship" id="scholarship">
    <h2 class="section__title section__title--scholarship">Ma Formation</h2>
    <div class="formations">
        <div class="row">
            <div class="col-sm">
                <img src="~/img/logo_ynov_informatique_ingesup.png" alt="Logo Ynov Informatique Ingésup"
                    class="school-logo">
            </div>
            <div class="col-sm">
                <h3 class="formation__title">Ynov</h3>
                <h4 class="time-period">2019 - 2024</h4>
                <p class="formation__description">3ème année de bachelor informatique, spécialité développement.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="~/img/uni_poitiers.png" alt="Logo de L'université de Poitiers" class="school-logo">
            </div>
            <div class="col-sm">
                <h3 class="formation__title">LLCER Anglais</h3>
                <h4 class="time-period">2017 - 2018</h4>
                <p class="formation__description">Étude de la langue et littérature Anglaise. 1ère année de Licence</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="~/img/uni_poitiers.png" alt="Logo de L'université de Poitiers" class="school-logo">
            </div>
            <div class="col-sm">
                <h3 class="formation__title">M2IPC</h3>
                <h4 class="time-period">2016 - 2017</h4>
                <p class="formation__description">Études de Mathématiques, Ingéniérie, Informatique, Physique et Chimie.
                    1ère année de Licence</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="~/img/pdl.png" alt="Logo du Lycée du Parc des Loges" class="school-logo">
            </div>
            <div class="col-sm">
                <h3 class="formation__title">Baccalauréat Economique et Social</h3>
                <h4 class="time-period">2015 - 2016</h4>
                <p class="formation__description">Diplôme du Baccalauréat en filière Économique et Social, spécialité
                    Mathématiques</p>
            </div>
        </div>
    </div>
</section>

@* My Work *@
<section class="my-work" id="work">
    <h2 class="section__title section__title--my-work">Mes Expériences Professionnelles</h2>
    <div class="jobs">
        <div class="row">
            <div class="col-sm">
                <img src="~/img/chatbot.png" alt="Image d'un robot" class="job-logo">
            </div>
            <div class="col-sm">
                <h3 class="job__title">Création d'un chatbot - Stage</h3>
                <h4 class="time-period">Juin - Juillet 2021</h4>
                <p class="job__description">Création d'un chatbot "conversationnel" sous Dialogflow dans le cadre du
                    stage de fin d'année de B2.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="~/img/kfc.png" alt="Logo KFC" class="job-logo">
            </div>
            <div class="col-sm">
                <h3 class="job__title">Responsable de service - KFC</h3>
                <h4 class="time-period">Décembre 2019 - Mai 2021</h4>
                <p class="job__description">CDI étudiant, encadrement d'une équipe d'une dizaine de personnes. Gestion
                    administrative et financière. Gestion de la clientèle.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="~/img/armatis.png" alt="Logo Armatis" class="job-logo">
            </div>
            <div class="col-sm">
                <h3 class="job__title">Chargé de clientèle N2 - Armatis</h3>
                <h4 class="time-period">2018 - 2019</h4>
                <p class="job__description">Gestion du service clientèle et qualité pour le groupe SMCP pour les clients
                    Anglais exclusivement.</p>
            </div>
        </div>
    </div>
</section>

@* My projects *@
<section class="my-projects" id="projects">
    <h2 class="section__title section__title--projects">Mes Projets</h2>
    <div class="projects">
        <div class="project">
            <h3 class="project__title">Jeu Roguelike • C#</h3>
            <p>Développement d’un jeu de type roguelike en C#, démarré via un
                serveur en C# également et écrivant des informations dans une
                base de données MYSQL.</p>
        </div>

        <div class="project">
            <h3 class="project__title">Monitoring du Pont Chaban Delmas • C#</h3>
            <p>Développement d'une application MVC afin de monitorer les ouvertures et fermetures
                du pont Chaban. Utilisation de json pour récolter les informations
                d’une API.</p>
        </div>

        <div class="project">
            <h3 class="project__title">Le site sur lequel vous êtes</h3>
            <p>Le site sur lequel vous êtes à été fait par mes soins. Développé en C# également, il à été fait dans le
                cadre du suivi de mes expériences personnelles et professionnelles, il contient deux majeures parties,
                ce portfolio ainsi qu'une partie Blog contenant le compte rendu de mes expériences.</p>
        </div>
    </div>
</section>