@* Introduction *@
<section class="intro">
    <h1 class="section__title section__title--intro">
        Moi, c'est <strong> Paul-Alexis Verrier </strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">Développement Logiciel</p>
    <img src="img/photo.jpeg" alt="Photographie de Paul-Alexis souriant" class="intro__img">
</section>

@* About me *@
<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Qui je suis</h2>
    <p class="section__subtitle section__subtitle--about">
        Développeur Logiciel Junior
    </p>

    <div class="aboute-me__body">
        <p>
            Je m'appelle Paul-Alexis Verrier, j'ai 23 ans et je suis actuellement en troisième année d'études au sein du
            campus <strong> Ynov Informatique Bordeux en spécialisation développement </strong>. En Alternance, je
            travaille également en tant que développeur junior pour la société <strong> D-Edge </strong>, société
            proposant des solutions E-commerce pour les hôteliers.
        </p>

        <p>
            Curieux, je m'intéresse à beaucoup de sujets, que ce soit en informatique ou pas.
            J'ai plusieurs passe-temps, j'aime les jeux-vidéos, tout particulièrement les jeux de rôles, j'ai fait du
            dessin également et ai pratiqué le basketball en club. Quand je ne fais pas l'une de ces activités je lis ou
            regarde une série.
        </p>
    </div>

    <img src="img/crossed.jpg" alt="Paul-Alexis croisant les bras" class="about-me__img">

</section>
<a class="btn" asp-area="" asp-controller="Home" asp-action="About">Plus sur moi</a>