<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-white bg-dark">
                <img src="~/img/stageRelated/BXF.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Présentation de l'entreprise</h5>
                    <p class="card-text">Présentation de l'entreprise / personne pour qui j'ai travaillé pendant ce
                        stage.</p>
                </div>
                <div class="card-footer">
                    <a class="btn" asp-area="" asp-controller="Blog" asp-action="Presentation">Lire plus</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark">
                <img src="~/img/stageRelated/Node.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Environnement de Travail</h5>
                    <p class="card-text">L'environnement de travail dans lequel j'ai travaillé pendant ce stage.</p>
                </div>
                <div class="card-footer">
                    <a class="btn" asp-area="" asp-controller="Blog" asp-action="Workspace">Lire plus</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark">
                <img src="~/img/stageRelated/checkmark.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Les missions</h5>
                    <p class="card-text">Les missions qui m'ont été données dans le cadre du stage.</p>
                </div>
                <div class="card-footer">
                    <a class="btn" asp-area="" asp-controller="Blog" asp-action="Missions">Lire plus</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark">
                <img src="~/img/stageRelated/pdca.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Déroulement du Stage</h5>
                    <p class="card-text">Le déroulement du stage, les recherches faites et les technologies qui ont été
                        utilisées.</p>
                </div>
                <div class="card-footer">
                    <a class="btn" asp-area="" asp-controller="Blog" asp-action="Procedure">Lire plus</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark">
                <img src="~/img/stageRelated/bilan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bilan du stage</h5>
                    <p class="card-text">Mon retour sur expérience de fin de stage, ce qu'il m'a apporté et les
                        conclusions que j'en ai tirées.</p>
                </div>
                <div class="card-footer">
                    <a class="btn" asp-area="" asp-controller="Blog" asp-action="Bilan">Lire plus</a>
                </div>
            </div>
        </div>
    </div>
</div>