<div class="paragraph-div">
    <h1 class="paragraph__title">Bilan du Stage</h1>
    <p class="paragraph">
        Ça y est, le stage est terminé et voici ce que j'en retiens :
    </p>
    <p class="paragraph">
        J'ai pu durant ce stage avoir ma première expérience de travail avec un client. Ce qui ressort le plus de cette
        expérience, c'est le fait que faire des retours auprès du client est fondamental au bon déroulement d'un projet.
        Sans ces retours journaliers auprès de François-Xavier, nous aurions pu partir dans une direction ne lui
        convenant absolument pas et donc ne pas satisfaire les besoins du client. De plus, il est primordial de savoir
        faire des suggestions quand cela est nécessaire.
    </p>
    <p class="paragraph">
        Au final, j'ai pu travailler certains hard skills comme ma compréhension du Javascript, ou ma capacité à faire
        des recherches
        dans un domaine particulier et comparer ce que j'ai à disposition. Mais j'ai surtout pu travailler mes soft
        skills, tels que l'écoute du client et la force de suggestion qui me serviront très certainement dès ma rentrée
        dans le monde du travail en tant que développeur.
    </p>
</div>

<a asp-area="" asp-controller="Blog" asp-action="Articles" class="btn btn__art">Retour</a>
