<div class="paragraph-div">
    <h1 class="paragraph__title">Les Missions</h1>
    <p class="paragraph">
        Lors de ce stage, mon collègue Paul Lautier et moi, avons reçu pour mission de développer un chatbot
        conversationnel.
    </p>
    <p class="paragraph">
        Toujours dans la dynamique de François-Xavier de numérisation du patrimoine culturel, le bot avait pour but
        final d'être un personnage historique ou encore une oeuvre avec laquelle un dialogue censé aurait-été faisable
        sans phrase bâteau du genre "Je n'ai pas compris votre demande".
    </p>
    <p class="paragraph">
        Dans cette optique, plusieurs missions en ont découlé, il nous a fallu nous renseigner sur les façons de créer
        un chatbot. Étant donné que notre objectif était de développer un Proof Of Concept, il nous fallait trouver
        l'outil le plus efficace pour créer l'illusion d'un chatbot réellement conversationnel.
    </p>
    <p class="paragraph">
        Une fois l'outil trouvé, il nous fallait nous renseigner sur l'oeuvre choisie pour être notre chatbot. Nous
        avons
        donc eu pour mission de faire toutes les recherches nécessaires afin que la conversation en plus d'avoir du
        sens, ait une véritable valeur culturelle.
    </p>
    <p class="paragraph">
        Une fois l'outil et l'oeuvre trouvés, il ne nous restait plus qu'à développer le bot, tout en respectant les
        retours et exigences de François-Xavier.
    </p>
</div>

<a asp-area="" asp-controller="Blog" asp-action="Articles" class="btn btn__art">Retour</a>
