<div class="paragraph-div">
    <h1 class="paragraph__title">L'entreprise.</h1>
    <p class="paragraph">
        Pendant ce stage, j'ai été employé par <a href="https://www.linkedin.com/in/fxbodin/">François-Xavier Bodin</a>,
        fondateur de BXF Conseil.
    </p>
    <p class="paragraph">
        Dans le digital depuis maintenant plusieurs années, c'est un spécialiste de la communication
        intéractive et de l'architecture fonctionnelle.
    </p>
    <p class="paragraph">
        Spécialisé dans le design de service numérique, il agis également dans le domaine de
        l'expérience de visite
        touristique, et les méthodologies d'innovation ouverte.
        Il a par ailleurs travaillé plusieurs fois avec et pour la ville de Bordeaux, notemment sur la maison
        Écocitoyenne, et la Cité du Vin.
    </p>
    <p class="paragraph">
        Son travail s'inscrit dans une logique de valorisation numérique du patrimoine permettant d'ouvrir les accès à
        la culture via le numérique tout en gardant une approche ludique, c'est ce pourquoi j'ai travaillé avec lui
        durant ce stage.
    </p>
    <p class="paragraph">
        Vous pouvez retrouver ses travaux sur son Linkedin, en cliquant sur son nom plus haut.
    </p>
</div>

<a asp-area="" asp-controller="Blog" asp-action="Articles" class="btn btn__art">Retour</a>
