<div class="paragraph-div">
    <h1 class="paragraph__title">Déroulement du Stage</h1>
    <p class="paragraph">
        Comme détaillé plus tôt dans les missions, nous avons dû développer un chatbot conversationnel, voici le détail
        de chaque étape du développement.
    </p>
    <p class="paragraph">
        Tout d'abord, nous avons fait une étude de l'existant, il nous fallait savoir ce qui existait et comment les
        bots existants fonctionnaient pour pouvoir s'inspirer et utiliser les bonnes technologies. Par exemple, le bot
        <a href="https://www.cleverbot.com">Cleverbot</a> qui se spécialise dans le fait de donner une réponse qui fait
        (presque) toujours sens.
    </p>
    <p class="paragraph">
        Une fois l'étude de l'existant réalisée, nous devions comparer les technologies existantes et à notre
        disposition pour pouvoir utiliser celle qui correspondait le mieux à notre besoin. Nous devions donc choisir si
        nous allions développer notre bot à partir de 0, ou en utilisant un framework. Suite à nos recherches, nous
        avons donc demandé l'avis de François-Xavier, et suite à celle-ci, nous avons choisi de partir sur un framework.
        Certains des meilleurs que nous avons eu l'occasion de voir étaient le framework de Facebook, <a
            href="https://wit.ai/">wit.ai</a>, celui de microsoft <a href="https://dev.botframework.com/">MS bot
            framework</a> et enfin, celui que nous avons personnellement utililsé, celui de Google, <a
            href="https://dialogflow.cloud.google.com/">Dialogflow</a>.
    </p>
    <p class="paragraph">
        Suite à cela, il nous fallait une oeuvre avec laquelle discuter, une oeuvre qui pourrait prêter sa personnalité
        à
        notre robot et aurait des choses à raconter. Nous avons donc avec Paul et François-Xavier, choisi d'utiliser <a
            href="https://www.kazoart.com/blog/loeuvre-a-la-loupe-rage-the-flower-thrower-de-banksy/">Rage, the Flower
            thrower</a> par <a href="https://fr.wikipedia.org/wiki/Banksy">Banksy</a>.
    </p>
    <p class="paragraph">
        Enfin, il ne nous restait qu'à créer nos questions et réponses et utiliser au mieux Dialogflow afin de créer
        l'illusion d'une veritable conversation. L'utilisation principale de Dialogflow est la création de bots
        commerciaux, qui ne sont donc absolument pas faits pour tenir une conversation. Par conséquent, il nous a fallu
        jouer avec les outils que Dialogflow nous mettait à disposition, c'est à dire, orienter la conversation dans le
        sens qui NOUS arrangeait. Nous avons ensuite ajouté via Javascript la possibilité pour le bot de garder dans une
        base de données les réponses à certaines questions dans le but de les réutiliser en fin de conversation afin de
        donner un but à l'utilisateur.
    </p>
    <p class="paragraph">
        En définitive, il n'a certes pas été possible d'implémenter toutes les fonctions que nous voulions, toutefois,
        le résultat est assez proche de ce que le produit final pourrait être avec plus de temps et de moyens.
    </p>
</div>

<a asp-area="" asp-controller="Blog" asp-action="Articles" class="btn btn__art">Retour</a>
