<div class="paragraph-div">
    <h1 class="paragraph__title">L'environnement de Travail.</h1>
    <p class="paragraph">
        Durant ce stage, j'ai été amené par François-Xavier à travailler dans un espace de coworking. C'était là une
        première pour moi, mais aussi un moyen de découvrir une nouvelle façon de travailler, mais également de
        nouvelles
        personnes travaillant quotidiennement dans divers pans du numérique.
    </p>
    <p class="paragraph">
        J'ai donc, pendant 6 semaines, travaillé au <a
            href="https://aquinum.fr/le-node/c-est-quoi-le-node.html">Node</a>.
    </p>
    <p class="paragraph">
        Alors, le Node, c'est quoi ? Un espace de coworking, d'accord, mais c'est avant tout un collectif de passionnés
        du numérique qui font vivre une association. L'entraide est de mise, en effet, car être inscrit au Node, c'est
        participer à sa vie, ne serait-ce qu'en vidant les poubelles. C'est un espace convivial où tout le monde peut
        s'entraider, travailler, manger et plaisanter ensemble.
    </p>
    <p class="paragraph">
        Des activités sont régulièrement organisées, telles que des concours de Pitch, où l'idée est de résumer le plus
        vite et de manière la plus concise possible, son projet. Vous l'aurez compris, c'est donc le moment et l'endroit
        idéal pour agrandir son réseau.
    </p>
    <p class="paragraph">
        En définitive, ça a été pour moi une aubaine, mais aussi une expérience très raffraichissante de pouvoir
        travailler auprès de tant de personnes passionnées.
    </p>
</div>

<a asp-area="" asp-controller="Blog" asp-action="Articles" class="btn btn__art">Retour</a>
